@import './_default';
@import './_variables';
@import './colors';

// ==========================================================================
// mib Button Theme
// ==========================================================================
.mib-button {
  min-width: 120px;
  height: 36px;
  font-family: $fontFamilyBrand;
  color: map-get(map-get($colors, primary), base);

  &.primary {
    background: map-get(map-get($colors, secondary), base);
  }

  &.secondary {
    background: map-get(map-get($colors, grayscale), white);
    border: 1px solid map-get(map-get($colors, secondary), base);
  }

  &.tertiary {
    background: map-get(map-get($colors, grayscale), white);
    border: 1px solid map-get(map-get($colors, primary), base);
  }

  &.modal {
    min-width: 181px;
  }

  &.secuencial {
    width: 152px;
  }
}

// .mib-button__primary
// {
//   background: map-get(map-get($colors,secondary),base);
// }

.mib-button:disabled {
  background-color: map-get(map-get($colors, grayscale), gray-5);
  color: map-get(map-get($colors, grayscale), gray-3);
  box-shadow: none;

  &.secondary {
    background-color: transparent;
    border: 1px solid map-get(map-get($colors, grayscale), gray-4);
  }

  &.tertiary {
    background-color: transparent;
  }
}

.mib-button:active {
  &.primary {
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.16);
  }

  &.secondary {
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.16);
  }

  // box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.16);
  &.tertiary {
    color: map-get(map-get($colors, primary), base);
    box-shadow: none;
  }
}

// ==========================================================================
// mibo Button plus Theme
// ==========================================================================
.btn-plus {
  background-color: map-get(map-get($colors, secondary), base);
  box-shadow: 1px 4px 4px rgb(51, 51, 51, 0.04) !important;
}


.btn-plus__text {
  font-family: "Roboto Condensed", sans-serif;
}

.btn-plus__text-visible {
  color: map-get(map-get($colors, primary), base) !important;
}

.btn-plus__img {
  background: map-get(map-get($colors, grayscale), white);
  color: map-get(map-get($colors, primary), base);
}

// ==========================================================================
// mibo Header theme
// ==========================================================================

.color-alert {
  width: 10px;
  height: 10px;
  color: map-get(map-get($colors, alerts), error);
}

.color-icon {
  color: map-get(map-get($colors, primary), base);
}

// ==========================================================================
// mibo CheckBox
// ==========================================================================

.label-checkbox {
  color: $grayscaleLevel-5 ;
  font-family: $fontFamilyBrand;
  font-size: 14px;

  &.required {
    color: map-get(map-get($colors, alerts), error);
  }
}

.texlink-checkbox {
  color: map-get(map-get($colors, primary), base);

  &.required {
    color: map-get(map-get($colors, alerts), error);
  }
}

.check {
  --background-checked: #016D38;
  --border-color: #016D38;
  --border-color-checked: #016D38;
  --background: white;
  width: 20px;
  height: 20px;

  &.required {
    --border-color: #DC3545;
  }

  &.disabled {
    --border-color: black;
  }
}


// ==========================================================================
// mibo Cards Theme
// ==========================================================================

.item-label {
  color: map-get(map-get($colors, grayscale), gray-1);
  ;
  font-family: $fontFamilyBrand;
  font-size: 14px;
}

.cards_container {
  max-height: 40vh;
  overflow: auto;
}

// ==========================================================================
// mibo Calendario Theme
// ==========================================================================


.mib-datetime-icon {
  font-size: 24px;
  color: map-get(map-get($colors, primary), base);
  padding-right: 10px;
}

.mib-input-date-picker {

  .mib-date-picker-angular {
    background-color: map-get(map-get($colors, grayscale), white);
  }

  .myDpSelector {
    font-family: $fontFamilyBrand !important;
    background: map-get(map-get($colors, grayscale), white);

    .myDpSelectorArrow:before {
      border-bottom-color: #ededed;
    }

    .myDpDaycell,
    .myDpMonthLabel,
    .myDpMonthcell,
    .myDpYearLabel,
    .myDpYearcell,
    .myDpWeekDayTitle,
    .myDpDayValue {
      font-family: $fontFamilyBrand !important;
      font-size: 14px !important;
    }

    .myDpTableSingleDay:hover,
    .myDpTableSingleMonth:hover,
    .myDpTableSingleYear:hover {
      background-color: transparent;
    }

    .myDpTableSingleDay:active,
    .myDpTableSingleMonth:active,
    .myDpTableSingleYear:active {
      background-color: map-get(map-get($colors, secondary), base);
    }

    .myDpMonthLabel,
    .myDpYearLabel {
      color: #000;
    }

    .myDpHighlight {
      color: #333;
    }

    .myDpWeekDayTitle {
      font-weight: bold;
    }

    .myDpSelectedDay,
    .myDpSelectedDay:hover {
      background-color: map-get(map-get($colors, secondary), base);
      border-radius: 4px;
    }


    .myDpMarkCurrMonth,
    .myDpMonthValue {
      font-family: $fontFamilyBrand !important;
      border-bottom: none;
    }

    .myDpSelectedMonth {
      background: transparent;

      .myDpMonthValue {
        background: map-get(map-get($colors, secondary), base);
      }
    }

    .myDpMarkCurrDay,
    .myDpMarkCurrMonth,
    .myDpMarkCurrYear {
      border-bottom: transparent;
    }

    .myDpYearValue {
      font-family: $fontFamilyBrand !important;
    }

    .myDpSelectedYear {
      background: transparent;

      .myDpYearValue {
        background: map-get(map-get($colors, secondary), base);
      }
    }

    .myDpRangeColor {
      background-color: #FFF2C9;
    }

    .myDpRangeBegin {
      background: map-get(map-get($colors, secondary), base);
    }

    .myDpRangeEnd {
      background: map-get(map-get($colors, secondary), base);
    }

    .myDpIconRightArrow:before,
    .myDpIconLeftArrow:before {
      font-size: 28px;
      font-family: $fontFamilyBrand ;
      position: absolute;
      top: 13px;
      color: map-get(map-get($colors, primary), base);
    }
  }

}

// ==========================================================================
// Molecula Modal Theme
// ==========================================================================

.icono {
  width: 60px;
  height: 60px;
}

.title-modal {
  font-family: $fontFamilyBrand;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: map-get(map-get($colors, grayscale), black);
}

.body {
  font-family: $fontFamilyBrand;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: map-get(map-get($colors, grayscale), gray-1);
}


// ==========================================================================
// Molecula Card Theme
// ==========================================================================

.molcard-grid-card {
  background: map-get(map-get($colors, grayscale), white);
}

.molcard-img-blog {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  min-height: 100px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.molcard-title-card,
.molcard-label,
.molcard-desc,
.molcard-caption,
.molcard-chip {
  font-family: $fontFamilyBrand ;
  font-style: normal;
}

.molcard-title-card {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: map-get(map-get($colors, primary), base);
  margin-bottom: 8px;

  &.shortTitle {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical
  }

  ;

}

.molcard-label {
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  color: map-get(map-get($colors, grayscale), gray-2);
  padding-bottom: 8px;
}

.molcard-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: map-get(map-get($colors, grayscale), black);
  margin-bottom: 8px;

  &.shortLabel2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical
  }

  ;
}

.molcard-caption {
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  color: map-get(map-get($colors, grayscale), gray-2);
}



.molcard-icon-card {
  position: absolute;
  font-size: 20px;
  color: map-get(map-get($colors, primary), base);
  background: map-get(map-get($colors, grayscale), gray-5);
  border-radius: 16px;
  padding: 5px;
  right: 10px;

  &.top {
    top: 10px;
  }

  &.base {
    bottom: 10px;
  }
}

// ==========================================================================
// breadcrumb Theme
// ==========================================================================
.breadCrumb-change {
  border-left: 2px solid map-get(map-get($colors, primary), base);
  color: map-get(map-get($colors, grayscale), black);
  font-size: 1rem;
  padding: 0px 8px;

  &.fic {
    border-left: 2px solid map-get(map-get($colors, fic), dark);
  }

  &.arrieros {
    border-left: 2px solid map-get(map-get($colors, arrieros), dark);
  }

  &.pyme {
    border-left: 2px solid map-get(map-get($colors, pyme), dark);
  }
}

.ico-arrow-left {
  color: map-get(map-get($colors, primary), base);
  font-style: normal;
  font-size: 1rem;
}

.icon-breadcrumb {
  color: map-get(map-get($colors, primary), base);
}

// ==========================================================================
// section-heading Theme
// ==========================================================================
.title-Section-Heading {
  border-left: 2px solid map-get(map-get($colors, primary), base);
  color: map-get(map-get($colors, grayscale), black);
  font-size: 1rem;

  &.fic {
    border-left: 2px solid map-get(map-get($colors, fic), dark);
  }

  &.arrieros {
    border-left: 2px solid map-get(map-get($colors, arrieros), dark);
  }

  &.pyme {
    border-left: 2px solid map-get(map-get($colors, pyme), dark);
  }
}

.icon-section-heading {
  color: map-get(map-get($colors, primary), base);
}

// ==========================================================================
// tab-menu theme
// ==========================================================================

.tab-selected {

  color: map-get(map-get($colors, primary), base) !important;
  font-size: 10px;
  font-weight: bold;

  &.fic {
    color: #016D38 !important;
  }
}

.icon-insurances {

  width: 19.5px;
  height: 19.5px;
  transition: 0.3s ease;

  &.fic {
    color: #fb2727 !important;
  }
}

// ==========================================================================
// leimotive theme
// ==========================================================================

.dark-color {
  &.fic {
    stop-color: map-get(map-get($colors, fic), dark);
  }

  &.arrieros {
    stop-color: map-get(map-get($colors, arrieros), dark);
  }

  &.pyme {
    stop-color: map-get(map-get($colors, pyme), dark);
  }

}

.medium-color {
  &.fic {
    stop-color: map-get(map-get($colors, fic), medium);
  }

  &.arrieros {
    stop-color: map-get(map-get($colors, arrieros), medium);
  }

  &.pyme {
    stop-color: map-get(map-get($colors, pyme), medium);
  }

}

.light-color {
  &.fic {
    stop-color: map-get(map-get($colors, fic), light);
  }

  &.arrieros {
    stop-color: map-get(map-get($colors, arrieros), light);
  }

  &.pyme {
    stop-color: map-get(map-get($colors, pyme), light);
  }
}


// ==========================================================================
// input-text theme
// ==========================================================================

.icon-input {
  color: map-get(map-get($colors, primary), base);
}

.red-border-class {
  border: 2px solid transparent;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(51, 51, 51, 0.16);
  min-height: 46px;
}

// ==========================================================================
// dropdown theme
// ==========================================================================

.item-list {
  .icon-search {
    color: map-get(map-get($colors, primary), base);
    font-size: 16px;
    display: flex;
    align-self: center;
  }
}

// ==========================================================================
// mib-tag theme
// ==========================================================================

.mib-tag {
  font-family: $fontFamilyBrand ;
  font-style: normal;

  &.large {
    height: 24px;
    font-size: 14px;
  }

  &.small {
    height: 20px;
    font-size: 12px;
  }

  &.primary {
    color: #333333;
    background: map-get(map-get($colors, secondary), base);
  }

  &.secondary {
    color: #FFFFFF;
    background: #009056;
  }

  &.tertiary {
    color: #333333;
    background: #E5F4EE;
  }
}

// ==========================================================================
// mol-spotliht theme
// ==========================================================================
.grid-spotlight {
  background: map-get(map-get($colors, grayscale), white);
}

.title-spotlight,
.label-spotlight,
.title-spotlight2 {
  font-family: $fontFamilyBrand;
  font-style: normal;
  text-align: initial;
  color: map-get(map-get($colors, grayscale), black);
  padding-left: 16px;
}

.leimotiv-vertical {
  color: map-get(map-get($colors, grayscale), gray-4);

  &.pyme {
    color: map-get(map-get($colors, pyme), dark);
  }

  &.arrieros {
    color: map-get(map-get($colors, arrieros), dark);
  }

  &.fic {
    color: map-get(map-get($colors, fic), dark);
  }
}

.leimotiv-horizontal {
  color: map-get(map-get($colors, grayscale), gray-4);

  &.pyme {
    color: map-get(map-get($colors, pyme), dark);
  }

  &.arrieros {
    color: map-get(map-get($colors, arrieros), dark);
  }

  &.fic {
    color: map-get(map-get($colors, fic), dark);
  }
}

.hr {
  background: map-get(map-get($colors, primary), base);

  &.pyme {
    background-color: map-get(map-get($colors, pyme), accento);
  }

  &.arrieros {
    background-color: map-get(map-get($colors, arrieros), dark);
  }

  &.fic {
    background-color: map-get(map-get($colors, fic), accento);
  }
}
