
// ==========================================================================
// External Source Definitions
// ==========================================================================

$fontFamilyBrand    : 'Roboto Condensed', sans-serif;
$fontPrimary        : 'Roboto', sans-serif;
$fontSecondary      : 'Open Sans', sans-serif;


// ==========================================================================
// Definitions color
// ==========================================================================

// Primary Colors
$primaryBase        : #016D38 !default;
$primaryLight       : #02d46f !default;
$primaryDark        : #005833 !default;

// Secondary colors
$secondaryBase      : #ffdc5d !default;
$secondaryLight     : #fff078 !default;
$secondaryDark      : #c9ab2a !default;

// Complementary Colors
$complementaryOne   : #9BE9BA !default;
$complementaryTwo   : #a28e4d !default;
$complementaryThree : #f4f2ee !default;
$complementaryFour  : #F8FEF7 !default;
$complementaryFive  : #FEFBF5 !default;
$complementarySix   : #F0F6F3 !default;

// Alerts Colors
$alertsSuccess      : #50a352 !default;
$alertsError        : #DC3545 !default;
$alertsErrorV2      : #DE3241 !default;
$alertsWarning      : #FFC100 !default;
$alertsInfo         : #007EFF !default;

// Controls Colors
$control01          : #0074FC !default;
$control01-dark     : #0056B3 !default;

// GrayScale Colors
$grayscaleWhite    : #ffffff !default;
$grayscaleLevel-1  : #fbfbfb !default;
$grayscaleLevel-2  : #eeeeee !default;
$grayscaleLevel-3  : #cccccc !default;
$grayscaleLevel-4  : #999999 !default;
$grayscaleLevel-5  : #666666 !default;
$grayscaleLevel-6  : #333333 !default;
$grayscaleLevel-7  : #4A4A4A !default;
$grayscaleBase     : #1b1b1b !default;
$grayscaleBlack    : #000000 !default;

// Border Colors
$borderColor-1     : #ced4da !default;
$borderColor-2     : #999999 !default;
