// ==========================================================================
// Asesores arrieros
// ==========================================================================

$bi-blue-acento: #008E70;
$bi-blue-dark: #93DBC4;
$bi-blue-medium: #97E2CA;
$bi-blue-light: #CEECE3;

$bi-degrade-lineal-vertical: linear-gradient(180deg, #CEECE3 0.62%, #97E2CA 81.86%, #93DBC4 100%);
$bi-degrade-lineal-horizontal: linear-gradient(89.92deg, #CEECE3 1.98%, #97E2CA 69.46%, #93DBC4 98.39%);
$bi-radial: radial-gradient(79.13% 95.68% at 51.79% 2.82%, #CEECE3 35.67%, #97E2CA 74.85%, #93DBC4 100%);


// ==========================================================================
// asesores pyme
// ==========================================================================

$mo-orange-acento: #BF5500;
$mo-orange-dark: #FB7327;
$mo-orange-medium: #FEB269;
$mo-orange-light: #FFD089;

$mo-degrade-lineal-vertical: linear-gradient(180deg, #FFD089 8.33%, #FEB269 38.76%, #FB7327 99.91%);
$mo-degrade-lineal-horizontal: linear-gradient(89.76deg, #FFD089 0.17%, #FEB269 62.35%, #FB7327 107.42%);
$mo-radial: radial-gradient(108.27% 108.27% at 50% -3.76%, #FFD089 32.42%, #FEB269 58.78%, #FB7327 100%);

// ==========================================================================
// FIC
// ==========================================================================

$ho-yellow-acento: #c28000;
$ho-yellow-dark: #FFDC5D;
$ho-yellow-medium:#FFE066;
$ho-yellow-light: #FFFCA8;

$ho-degrade-lineal-vertical: linear-gradient(180deg, #FFFCA8 0.62%, #FFE066 80.73%, #FFDC5D 99.91%);
$ho-degrade-lineal-horizontal: linear-gradient(89.52deg, #FFFCA8 2.29%, #FFE066 73.55%, #FFDC5D 99.54%);
$ho-radial: radial-gradient(79.13% 95.68% at 51.79% 2.82%, #FFFCA8 0%, #FFE066 82.29%, #FFDC5D 100%);


$green-light: #3EB759;
$green-base: #016D38;
$green-dark: #014A26;

